// Compass Box-Sizing
@import "compass/css3/box-sizing";

// Ensure grid is included
@import "grid";

//-----------------------------------
// Defaults
//-----------------------------------

//-----------------------------------
// Column Widths
//-----------------------------------

// apply a width to a column
@mixin fluid($i, $plus: 0, $parent: $grid-columns, $parent-plus: 0) {
  width: fluid-column-width($i, $plus, $parent, $parent-plus);
}

// return a percentage width relative to a column width
@function fluid-column-width($i, $plus: 0, $parent: $grid-columns, $parent-plus: 0) {
  @return fluid-width(grid-column-width($i, $plus), grid-column-width($parent, $parent-plus + $grid-gutter-width));
}

// return a percentage width relative to a parent width
@function fluid-width($width, $parent-width: grid-column-width($grid-columns, $grid-gutter-width)) {
  @return percentage($width / $parent-width);
}

// return a percentage for a half-pixel
@function fluid-nudge($parent-width: grid-column-width($grid-columns, $grid-gutter-width), $vendor: webkit) {
  @return percentage(if($vendor == ie, -0.5px, 0.5px) / $parent-width);
}


//-----------------------------------
// Containers
//-----------------------------------

// specify a container as a page
@mixin fluid-page($i: $grid-columns, $plus: 0, $use-max-width: true) {
  @extend .clearfix;
  @include box-sizing(border-box);
  @if $use-max-width { max-width: grid-column-width($i, $plus + $grid-gutter-width); }
  width: 100%;
  margin: 0 auto;
}

// specify a container as a row
@mixin fluid-row($page: false, $parent: $grid-columns, $parent-plus: 0) {
  @extend .clearfix;
  @include box-sizing(border-box);
  width: auto;
  
  // rows directly inside a page don't need the negative margin
  @if $page {
    margin: 0 0;
  } @else {
    margin: 0 fluid-width(-$grid-gutter-width / 2, grid-column-width($parent, $parent-plus));
  }
}

//-----------------------------------
// Columns
//-----------------------------------

// specify a column
@mixin fluid-column($i: false, $plus: 0, $parent: $grid-columns, $parent-plus: 0) {
  @include box-sizing(border-box);
  margin: 0 fluid-width($grid-gutter-width / 2, grid-column-width($parent, $parent-plus + $grid-gutter-width));
  float: left;
  
  @if $grid-support-for-ie6 { display: inline; }
  
  // apply a width
  @if $i { @include fluid($i, $plus, $parent, $parent-plus); }
}

// alter the margins of a column
@mixin fluid-offset($i: 1, $plus: 0, $side: left, $parent: $grid-columns, $parent-plus: 0) {
  margin-#{$side}: (fluid-column-width($i, $grid-gutter-width + $plus) + fluid-width($grid-gutter-width / 2, grid-column-width($parent, $parent-plus + $grid-gutter-width)));
}
@mixin fluid-offset-left($i: 1, $plus: 0, $parent: $grid-columns, $parent-plus: 0) {
  @include fluid-offset($i, $plus, left, $parent, $parent-plus);
}
@mixin fluid-offset-right($i: 1, $plus: 0, $parent: $grid-columns, $parent-plus: 0) {
  @include fluid-offset($i, $plus, right, $parent, $parent-plus);
}

//-----------------------------------
// Default Styles
//-----------------------------------
@mixin fluid-css() {
  // containers
  .fluid-page {
    @include fluid-page;
  }
  .fluid-row {
    @include fluid-row;
  }
  .fluid-page > .fluid-row {
    @include fluid-row(true);
  }
  .fluid-column {
    @include fluid-column;
  }

  @for $i from 1 through $grid-columns {
    // columns widths
    .fluid-#{$i} {
      width: fluid-column-width($i);
      > .fluid-row { margin: 0 fluid-width(-$grid-gutter-width / 2, grid-column-width($i)); }
      > .fluid-row > .fluid-column { margin: 0 fluid-width($grid-gutter-width / 2, grid-column-width($i, $grid-gutter-width)); }
      @for $j from 1 through $grid-columns - 1 {
        @if $j <= $i {
          > .fluid-row > .fluid-#{$j} { width: fluid-column-width($j, 0, $i); }
        }
        @if $j < $i {
          > .fluid-row > .fluid-before-#{$j} { @include fluid-offset-left($j, 0, $i); }
          > .fluid-row > .fluid-after-#{$j} { @include fluid-offset-right($j, 0, $i); }
        }
      }
    }

    // alter left and right margins
    @if $i < $grid-columns {
      .fluid-before-#{$i} { @include fluid-offset-left($i); }
      .fluid-after-#{$i} { @include fluid-offset-right($i); }
    }
  }

  // Box
  .fluid-box {
    margin-bottom: $grid-gutter-width;
  }
}