.clearfix, #container, [role="main"], #main-column > section { *zoom: 1; }
.clearfix:after, #container:after, [role="main"]:after, #main-column > section:after { content: ""; display: table; clear: both; }

#container { width: 960px; margin: 0 auto; }

[role="main"] { width: auto; margin: 0 0; }

#container > header, #container > footer { margin: 0 10px; border: 1px solid black; margin-bottom: 20px; }

#left-column, #right-column { margin: 0 10px; float: left; width: 218px; border: 1px solid red; }

#main-column { margin: 0 10px; float: left; width: 700px; }
#main-column > section { width: auto; margin: 0 -10px; margin-bottom: 20px; }
#main-column > section.hero { border: 1px solid black; margin-left: 0; margin-right: 0; }

#content { margin: 0 10px; float: left; width: 458px; border: 1px solid blue; }

.clearfix, #container, [role="main"], #main-column > section { *zoom: 1; }
.clearfix:after, #container:after, [role="main"]:after, #main-column > section:after { content: ""; display: table; clear: both; }
