.clearfix, .page, .row, .page > .row { *zoom: 1; }
.clearfix:after, .page:after, .row:after, .page > .row:after { content: ""; display: table; clear: both; }

.page { width: 960px; margin: 0 auto; }

.row { width: auto; margin: 0 -10px; }

.page > .row { width: auto; margin: 0 0; }

.column { margin: 0 10px; float: left; }

.grid-1 { width: 60px; }

.before-1 { margin-left: 90px; }

.after-1 { margin-right: 90px; }

.grid-2 { width: 140px; }

.before-2 { margin-left: 170px; }

.after-2 { margin-right: 170px; }

.grid-3 { width: 220px; }

.before-3 { margin-left: 250px; }

.after-3 { margin-right: 250px; }

.grid-4 { width: 300px; }

.before-4 { margin-left: 330px; }

.after-4 { margin-right: 330px; }

.grid-5 { width: 380px; }

.before-5 { margin-left: 410px; }

.after-5 { margin-right: 410px; }

.grid-6 { width: 460px; }

.before-6 { margin-left: 490px; }

.after-6 { margin-right: 490px; }

.grid-7 { width: 540px; }

.before-7 { margin-left: 570px; }

.after-7 { margin-right: 570px; }

.grid-8 { width: 620px; }

.before-8 { margin-left: 650px; }

.after-8 { margin-right: 650px; }

.grid-9 { width: 700px; }

.before-9 { margin-left: 730px; }

.after-9 { margin-right: 730px; }

.grid-10 { width: 780px; }

.before-10 { margin-left: 810px; }

.after-10 { margin-right: 810px; }

.grid-11 { width: 860px; }

.before-11 { margin-left: 890px; }

.after-11 { margin-right: 890px; }

.grid-12 { width: 940px; }

.box { margin-bottom: 20px; }

.column { background-color: #ccc; margin-bottom: 20px; }

.borders .column { border: 2px solid black; }
.borders .grid-1 { width: grid-width(1, -4px); }
.borders .grid-2 { width: grid-width(2, -4px); }
.borders .grid-3 { width: grid-width(3, -4px); }
.borders .grid-4 { width: grid-width(4, -4px); }
.borders .grid-5 { width: grid-width(5, -4px); }
.borders .grid-6 { width: grid-width(6, -4px); }
.borders .grid-7 { width: grid-width(7, -4px); }
.borders .grid-8 { width: grid-width(8, -4px); }
.borders .grid-9 { width: grid-width(9, -4px); }
.borders .grid-10 { width: grid-width(10, -4px); }
.borders .grid-11 { width: grid-width(11, -4px); }
.borders .grid-12 { width: grid-width(12, -4px); }

.padding .column { padding: 0 10px; }
.padding .grid-1 { width: grid-width(1, -20px); }
.padding .grid-2 { width: grid-width(2, -20px); }
.padding .grid-3 { width: grid-width(3, -20px); }
.padding .grid-4 { width: grid-width(4, -20px); }
.padding .grid-5 { width: grid-width(5, -20px); }
.padding .grid-6 { width: grid-width(6, -20px); }
.padding .grid-7 { width: grid-width(7, -20px); }
.padding .grid-8 { width: grid-width(8, -20px); }
.padding .grid-9 { width: grid-width(9, -20px); }
.padding .grid-10 { width: grid-width(10, -20px); }
.padding .grid-11 { width: grid-width(11, -20px); }
.padding .grid-12 { width: grid-width(12, -20px); }
