.clearfix, header, #main, footer, .main-column section { *zoom: 1; }
.clearfix:after, header:after, #main:after, footer:after, .main-column section:after { content: ""; display: table; clear: both; }

.clearfix, header, #main, footer, .main-column section { *zoom: 1; }
.clearfix:after, header:after, #main:after, footer:after, .main-column section:after { content: ""; display: table; clear: both; }

.float-left, .float-right { margin-bottom: 10px; }

.float-left { float: left; margin-right: 10px; }

.float-right { float: right; margin-left: 10px; }

header, #main, footer { width: 960px; margin: 0 auto; }

header, footer { width: 940px; }

header { background-color: blue; height: 100px; }

footer { background-color: #ccc; }

.left-column { margin: 0 10px; float: left; width: 220px; }

.main-column { margin: 0 10px; float: left; width: 700px; }
.main-column section { width: auto; margin: 0 -10px; }
.main-column section.intro { margin: 0; }
.main-column article { margin: 0 10px; float: left; width: 460px; }
.main-column aside { margin: 0 10px; float: left; width: 220px; }
.main-column aside .box img { width: 220px; }

@media only screen and (min-width: 0px) { .measure { background-color: red; }
  header, #main, footer { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; max-width: 960px; width: 100%; margin: 0 auto; }
  header, footer { max-width: none; width: auto; margin: 0 3.125%; }
  .left-column { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 3.125%; float: left; width: 93.75%; }
  .main-column { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 3.125%; float: left; width: 93.75%; }
  .main-column section { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: auto; margin: 0 -1.06382979%; }
  .main-column section.intro { margin: 0; }
  .main-column article { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 3.125%; float: left; width: 93.75%; }
  .main-column article .float-left, .main-column article .float-right { margin-bottom: 3.33333333%; }
  .main-column article .float-left { float: none; margin-right: 0; }
  .main-column article .float-right { float: none; margin-left: 0; }
  .main-column article img.grid-3 { width: 100%; }
  .main-column aside { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 3.125%; float: left; width: 93.75%; }
  .main-column aside .box img { width: 100%; } }
@media only screen and (min-width: 320px) { .measure { background-color: orange; } }
@media only screen and (min-width: 480px) { .measure { background-color: yellow; }
  header, #main, footer { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; max-width: 960px; width: 100%; margin: 0 auto; }
  header, footer { max-width: none; width: auto; margin: 0 2.08333333%; }
  .left-column { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 2.08333333%; float: left; width: 95.83333333%; }
  .main-column { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 2.08333333%; float: left; width: 95.83333333%; }
  .main-column section { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: auto; margin: 0 -1.06382979%; }
  .main-column section.intro { margin: 0; }
  .main-column article { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 2.08333333%; float: left; width: 95.83333333%; }
  .main-column article .float-left, .main-column article .float-right { margin-bottom: 2.17391304%; }
  .main-column article .float-left { float: left; margin-right: 2.17391304%; }
  .main-column article .float-right { float: right; margin-left: 2.17391304%; }
  .main-column article img.grid-3 { width: 47.82608696%; }
  .main-column aside { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 2.08333333%; float: left; width: 95.83333333%; }
  .main-column aside .box img { width: 100%; } }
@media only screen and (min-width: 540px) { .measure { background-color: green; } }
@media only screen and (min-width: 600px) { .measure { background-color: blue; color: white; }
  header, #main, footer { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; max-width: 960px; width: 100%; margin: 0 auto; }
  header, footer { max-width: none; width: auto; margin: 0 1.5625%; }
  .left-column { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 1.5625%; float: left; width: 34.375%; }
  .main-column { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 1.5625%; float: left; width: 59.375%; }
  .main-column section { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: auto; margin: 0 -1.06382979%; }
  .main-column section.intro { margin: 0; }
  .main-column article { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 2.5%; float: left; width: 95%; }
  .main-column article .float-left, .main-column article .float-right { margin-bottom: 2.63157895%; }
  .main-column article .float-left { float: left; margin-right: 2.63157895%; }
  .main-column article .float-right { float: right; margin-left: 2.63157895%; }
  .main-column article img.grid-3 { width: 57.89473684%; }
  .main-column aside { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 2.5%; float: left; width: 95%; }
  .main-column aside .box img { width: 100%; } }
@media only screen and (min-width: 768px) { .measure { background-color: purple; color: white; }
  header, #main, footer { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; max-width: 960px; width: 100%; margin: 0 auto; }
  header, footer { max-width: none; width: auto; margin: 0 1.38888889%; }
  .left-column { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 1.38888889%; float: left; width: 30.55555556%; }
  .main-column { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 1.38888889%; float: left; width: 63.88888889%; }
  .main-column section { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: auto; margin: 0 -1.06382979%; }
  .main-column section.intro { margin: 0; }
  .main-column article { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 2.08333333%; float: left; width: 95.83333333%; }
  .main-column article .float-left, .main-column article .float-right { margin-bottom: 2.17391304%; }
  .main-column article .float-left { float: left; margin-right: 2.17391304%; }
  .main-column article .float-right { float: right; margin-left: 2.17391304%; }
  .main-column article img.grid-3 { width: 47.82608696%; }
  .main-column aside { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 2.08333333%; float: left; width: 95.83333333%; }
  .main-column aside .box img { width: 100%; } }
@media only screen and (min-width: 800px) { .measure { background-color: blue; color: white; }
  header, #main, footer { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; max-width: 960px; width: 100%; margin: 0 auto; }
  header, footer { max-width: none; width: auto; margin: 0 1.13636364%; }
  .left-column { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 1.13636364%; float: left; width: 25%; }
  .main-column { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 1.13636364%; float: left; width: 70.45454545%; }
  .main-column section { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: auto; margin: 0 -1.06382979%; }
  .main-column section.intro { margin: 0; }
  .main-column article { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 1.5625%; float: left; width: 59.375%; }
  .main-column article .float-left, .main-column article .float-right { margin-bottom: 2.63157895%; }
  .main-column article .float-left { float: left; margin-right: 2.63157895%; }
  .main-column article .float-right { float: right; margin-left: 2.63157895%; }
  .main-column article img.grid-3 { width: 57.89473684%; }
  .main-column aside { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 1.5625%; float: left; width: 34.375%; }
  .main-column aside .box img { width: 100%; } }
@media only screen and (min-width: 960px) { .measure { background-color: green; }
  header, #main, footer { width: 960px; margin: 0 auto; }
  header, footer { width: 940px; }
  .left-column { margin: 0 10px; float: left; width: 220px; }
  .main-column { margin: 0 10px; float: left; width: 700px; }
  .main-column section { width: auto; margin: 0 -10px; }
  .main-column section.intro { margin: 0; }
  .main-column article { margin: 0 10px; float: left; width: 460px; }
  .main-column article .float-left, .main-column article .float-right { margin-bottom: 10px; }
  .main-column article .float-left { float: left; margin-right: 10px; }
  .main-column article .float-right { float: right; margin-left: 10px; }
  .main-column article img.grid-3 { width: 220px; }
  .main-column aside { margin: 0 10px; float: left; width: 220px; }
  .main-column aside .box img { width: 220px; } }
@media only screen and (min-width: 992px) { .measure { background-color: yellow; } }
@media only screen and (min-width: 1024px) { .measure { background-color: orange; } }
@media only screen and (min-width: 1280px) { .measure { background-color: red; } }
